<div class="register-container">
  <h2>Rider Registration</h2>

  <form (ngSubmit)="registerRider()" #registerForm="ngForm">
    @if(successState){
      <p class="alert alert-success">{{successMessage}}</p>
    }
    @if(errorState){
        <p class="alert alert-danger">{{errorMessage}}</p>
    }
    <input [(ngModel)]="rider.fullName" name="fullName" placeholder="Full Name" required />
    <input [(ngModel)]="rider.email" name="email" type="email" placeholder="Email" required />
    <input [(ngModel)]="rider.phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
    <input [(ngModel)]="rider.password" name="password" type="password" placeholder="Password" required />
    <label for="DateOfBirth">Date of birth</label>
    <input [(ngModel)]="rider.DateOfBirth" type="date" name="DateOfBirth" placeholder="Date of birth" required />
      <label>Gender</label>
      <select [(ngModel)]="rider.Gender" name="type" required>
        <option *ngFor="let gender of genders" [ngValue]="gender.id">{{ gender.name }}</option>
      </select>
    <label>Provider (optional)</label>
    <input [(ngModel)]="rider.provider" name="provider" placeholder="Provider (optional)" />

    <button type="submit" [disabled]="!registerForm.valid">Register Rider</button>
  </form>
</div>
