.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 15px;
}

.suggestions {
  margin-top: 5px;
  list-style: none;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #efefef;
}