.sidebar {
  width: 350px;
  background: white;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
  z-index: 999;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.label {
  font-weight: 600;
  margin-top: 10px;
  display: block;
}


